.eliminar {
  background-color: red;
  color: white;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}
.eliminar:hover {
  color: black;
}
.buscar {
  background-color: green;
  color: white;
  border-radius: 10px;
  margin: 0px 60px 0px 650px;
}
.buscar:hover {
  color: black;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
